@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

@font-face {
  font-family: Golos;
  font-display: swap;
  src: url("../fonts/GolosText-Bold.woff2") format("woff2"), url("../fonts/GolosText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Golos;
  font-display: swap;
  src: url("../fonts/GolosText-Black.woff2") format("woff2"), url("../fonts/GolosText-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Golos;
  font-display: swap;
  src: url("../fonts/GolosText-Medium.woff2") format("woff2"), url("../fonts/GolosText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Golos;
  font-display: swap;
  src: url("../fonts/GolosText-SemiBold.woff2") format("woff2"), url("../fonts/GolosText-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Golos;
  font-display: swap;
  src: url("../fonts/GolosText-ExtraBold.woff2") format("woff2"), url("../fonts/GolosText-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Golos;
  font-display: swap;
  src: url("../fonts/GolosText-Regular.woff2") format("woff2"), url("../fonts/GolosText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Golos", sans-serif;
}

.btn-black {
  border-radius: 12px;
  background: var(--background-1d);
  color: var(--white-color);
  text-decoration: none;
  padding: 0.625em 1.875em 0.625em 0.625em;
  gap: 0.3rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table {
  font-family: "Open Sans";
  overflow-x: auto;
}

.table__body {
  width: 1200px;
}

.table th {
  background: var(--background-f9);
  color: rgba(33, 33, 33, 0.8);
  padding: 9px 15px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.3);
  text-align: left;
  font-weight: 600;
  line-height: 145%;
  letter-spacing: 0.16px;
}

.table th:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.1);
}

.table td {
  padding: 14px 15px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
  font-size: 18px;
  line-height: 150%;
}

.table td:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.1);
}

.table td:last-child {
  width: 18%;
  padding-right: 0;
}

.table__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table__code {
  font-size: 16px;
}

.table__delete {
  opacity: 0.6;
  background: none;
  border: 0;
}

.table__copy {
  border-radius: 12px;
  border: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--box-precc__more-btn);
  color: var(--background-1d);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 145%;
  letter-spacing: 0.16px;
  padding: 10px 15px;
  gap: 30px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.table__copy svg {
  opacity: 0.6;
}

.container-md {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.partner {
  padding: 2rem 0;
}

.partner__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partner__title {
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -0.76px;
  margin: 0;
  font-size: 26px;
}

.partner__info {
  margin-left: 16px;
  opacity: 0.4;
}

.partner__desc {
  margin-top: 15px;
  max-width: 780px;
  opacity: 0.8;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 145%;
  letter-spacing: -0.16px;
}

.partner__list {
  margin: 40px 0 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partner__item {
  font-size: 16px;
  line-height: 145%;
  letter-spacing: -0.16px;
  padding: 14px 0 15px 15px;
  border-radius: 12px;
  border: 1px solid var(--background-about);
}

.partner__item-caption {
  opacity: 0.8;
  font-family: "Open Sans";
}

.partner__item-value {
  margin-top: 10px;
  font-size: 20px;
}

.partner__btn {
  display: none;
}

.partner__body {
  margin: 40px 0 0 0;
}

.partner__body .form-selectize__item {
  width: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.partner__body .form-selectize__item.active {
  background: var(--red-color);
}

.partner__table {
  margin: 30px -20px 0 0;
  padding-right: 20px;
}

.work {
  padding: 2rem 0;
}

.work__title {
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -0.52px;
  color: var(--black-color);
  font-size: 22px;
}

.work__list {
  margin: 2.5em 0em 0em 0em;
  padding: 0;
  list-style: none;
  max-width: 800px;
}

.work__item {
  position: relative;
  counter-increment: num;
  padding: 0em 0em 0em 2.6875em;
}

.work__item:not(:last-child) {
  margin-bottom: 30px;
}

.work__item::before {
  content: "/ 0" counter(num);
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: -0.27px;
}

.work__item-caption {
  line-height: 135%;
  letter-spacing: -0.22px;
  font-size: 20px;
}

.work__item-desc {
  margin: 0.9375em 0em 0em 0em;
  color: var(--text-black, #212121);
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 145%;
  letter-spacing: -0.16px;
}

@media (min-width: 575.98px) {
  .partner__title {
    font-size: 34px;
  }

  .partner__info {
    padding: 15px 0 0 0;
  }

  .partner__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 183px;
            flex: 0 0 183px;
  }

  .partner__btn {
    margin-left: auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .work__title {
    font-size: 26px;
  }

  .work__item-caption {
    font-size: 22px;
  }
}

@media (min-width: 767.98px) {
  .partner__title {
    font-size: 38px;
  }

  .partner__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (any-hover: hover) {
  .btn-black:hover {
    background: var(--red-color);
  }

  .table__delete:hover {
    opacity: 1;
  }

  .table__copy:hover {
    background: var(--background-e9);
  }

  .work__item-desc a:hover {
    text-decoration: none;
  }
}